out/
test_run_dir/
.bsp/
.idea/
.metals/
.vscode/
cmake-build-*
coverage.dat
**/node_modules/
**/_book/
.gdbinit
.bloop/
.ammonite
.cache
build
/result*
*/result*
__pycache__
/testrun
.direnv
.envrc
test-results
target
.ccls-cache
t1-sim-result/
.worktree/
/test_output/
/test-results/
*test-result*
sim-checker-result
fpga/system/vivado*.jou
fpga/system/vivado*.log
vivado*.jou
vivado*.log
mmio-event.jsonl
wave_debug.json
*.lock
/kria_ref/
*.o
**/*.o
*.so
**/*.so
/vision_software/visionsoc_main/perf/*T*Z*
/vision_software/visionsoc_main/capture
/fyp_diagram/select_output/*
/vision_software/visionsoc_main/viz/*
/vision_software/visionsoc_main/benchmark/results/*